extends ./layout/layout.pug

block content

    main(role="main")

        .jumbotron.zebra-bg-01.m-0.pt-5.rounded-0
            .container.text-center.temp5-h1
                p.font-roboto-slab
                    span.text-grey-02.introduction-01.underline Introduction

                h1 Looking for a trustworthy, experienced and licensed Handyman on the Central Coast?

                p.text-grey-01.font-arial-mt Then look no further!

                p.text-grey-01.font-arial-mt Hi, I’m Ben from Sunny Coast Handyman Services, and I have been proudly servicing the Central Coast for just over 7 years. I am fully licensed and insured so you can feel confident when booking me for your next job.

                p.text-grey-01.font-arial-mt I am a family man who loves getting out for wave whenever I can, and spending time with my wife and 2 young kids.

                p.text-grey-01.font-arial-mt Call me a call to discuss your next job – I'd love to speak to you!

                a.btn.bg-orange.btn-lg.text-uppercase.text-light.intro-btn.mt-5(href="javascript:void(0);" role="button") Make a booking / Request a quote
            
        section#profile-bar
            .profile-bar-top.bg-dark-brown
                .container
                    .row
                        .col-xs.col-sm-12.col-md-3.col-lg-3.col-xl-3
                            .item-content.my-5
                                .item-top.d-flex.flex-column.justify-content-center.align-items-center
                                    .circle-border-icon-wrapper                             
                                        span.circle-border-icon
                                            img(src="/assets/images/profile-bar-abn.png")
                                    h5.item-title.text-light.item-title.text-light.mt-3 ABN Checked
                        .col-xs.col-sm-12.col-md-3.col-lg-3.col-xl-3
                            .item-content.my-md-5
                                .item-top.d-flex.flex-column.justify-content-center.align-items-center
                                    .circle-border-icon-wrapper                             
                                        span.circle-border-icon
                                            img(src="/assets/images/profile-bar-licensed.png")
                                    h5.item-title.text-light.item-title.text-light.mt-3 Licensed and Insured
                        .col-xs.col-sm-12.col-md-3.col-lg-3.col-xl-3
                            .item-content.mt-5.my-md-5
                                .item-top.d-flex.flex-column.justify-content-center.align-items-center
                                    .circle-border-icon-wrapper                             
                                        span.circle-border-icon
                                            img(src="/assets/images/profile-bar-fix4me.png")
                                    h5.item-title.text-light.item-title.text-light.mt-3 Fix4me Verified
                        .col-xs.col-sm-12.col-md-3.col-lg-3.col-xl-3
                            .item-content.my-5
                                .item-top.d-flex.flex-column.justify-content-center.align-items-center
                                    .circle-border-icon-wrapper                             
                                        span.circle-border-icon
                                            img(src="/assets/images/profile-bar-emergency.png")
                                    h5.item-title.text-light.item-title.text-light.mt-3 Emergency Work                                    


        .jumbotron.bg-grey-1.pt-5#job-photos.rounded-0.m-0
            .job-photos-top
                .container
                    .row
                        .col.w-100
                            .d-block.py-5
                                p.mb-0.font-roboto-slab.text-center
                                    span.h4.text-center.text-grey-02.underline Our Jobs Photos
                                                            
                                .box-grey-custom-01
                                    .container.p-0
                                        .row.justify-content-between
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3
                                                img.img-fluid(src="/assets/images/jp-1.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3
                                                img.img-fluid(src="/assets/images/jp-2.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3
                                                img.img-fluid(src="/assets/images/jp-3.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3
                                                img.img-fluid(src="/assets/images/jp-4.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3.pb-md-0
                                                img.img-fluid(src="/assets/images/jp-5.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3.pb-md-0
                                                img.img-fluid(src="/assets/images/jp-6.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3.pb-md-0
                                                img.img-fluid(src="/assets/images/jp-7.png", alt="5 star review")
                                            .col-12.col-sm-6.col-md-3.text-center.pb-3.pb-md-0
                                                img.img-fluid(src="/assets/images/jp-8.png", alt="5 star review")
                    


                                .bottom-orange-text-container
                                    p
                                        span View full gallery

  
                                     
        .jumbotron.bg-two-color-grey-white.pt-5#fix4me.rounded-0.m-0
            .fix4me-top
                .container.bg-light-red.text-center
                    .row
                        .col.w-100.text-light
                            img.img-fluid.mt-4(src="/assets/images/fix4me-icon.png")
                            p.my-4 127 completed jobs 
                              br
                              | 96% completion rotate
                              br
                              | Average Rating 4.8 Stars
                            h3 Fix4Me Verified Trade Supplier
                            a.btn.btn-outline-light.btn-lg.text-light.my-4(href="javascript:void(0);" role="button") View my profile




        section#recent-reviews
            .recent-reviews-top
                .container
                    .row
                        .col.w-100
                            .d-block.py-5
                                p.mb-0.font-roboto-slab.text-center
                                    span.h4.text-center.text-grey-02.underline Our Recent Reviews
                                                            
                                .box-grey-custom-01
                                    //- Reviews
                                    .reviews.py-4
                                        .container
                                            .narrow-content
                                                .reviews-container.d-flex.flex-wrap.justify-content-between.font-arial-mt.font-small-review
                                                    .col-12.col-md-6.mb-3
                                                        .rc-top
                                                            p.name.font-italic John Doe
                                                            img(src="./assets/images/5-star.png", alt="5 star review")
                                                        .rc-body
                                                            p.title.text-warning Fixing windows and installing new door
                                                            p.description Psellus metus massa, auctor ut condimentum dictum, tincidunt nec arcu. Nam pharetra urna ac metus pellentesque porta. Praesent placerat tortor nec lacinia venenatis.“
                                                    //- rc-item
                                                    .col-12.col-md-6.mb-3
                                                        .rc-top
                                                            p.name.font-italic Jane Smith
                                                            img(src="./assets/images/5-star.png", alt="5 star review")
                                                        .rc-body
                                                            p.title.text-warning Install carpets in 2 rooms
                                                            p.description Sed varius dignissim augue at sodales. Sed non libero ut dolor feugiat fringilla at sed metus. Nunc mi ante, auctor et purus quis, pharetra blandit purus. Cras libero nisl, vestibulum id elementum non, laoreet ac orci. Morbi bibendum elit non ante sodales molestie. Curabitur egestas eros metus, sit amet vestibulum odio varius eget. Sed iaculis nibh ut mattis volutpat.
                                                    //- rc-item
                                                    .col-12.col-md-6.mb-3
                                                        .rc-top
                                                            p.name.font-italic Samuel L 
                                                            img(src="./assets/images/4.5-star.png", alt="4.5 star review")
                                                        .rc-body
                                                            p.title.text-warning Coodo, ornare ullamcorpern
                                                            p.description Gravida lorem nisi ac massa. Nunc dui odio, consequat ac odio at, facilisis pulvinar urna. Cras purus turpis, tincidunt vehicula libero commodo, ornare ullamcorper metus. Ut eget neque vestibulum, tincidunt nisl nec, posuere nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                    //- rc-item
                                                    .col-12.col-md-6.mb-3
                                                        .rc-top
                                                            p.name.font-italic Peter Peterson
                                                            img(src="./assets/images/5-star.png", alt="5 star review")
                                                        .rc-body
                                                            p.title.text-warning Plios odo, ornare ullamaw eaol.
                                                            p.description Curabitur lobortis magna nulla, at tristique urna convallis ut. Vivamus iaculis metus non arcu viverra bibendum. Vestibulum efficitur, ex a vestibulum congue, eros nisi blandit dui,
                                                    //- rc-item
                                                    .col-12.col-md-6.mb-3
                                                        .rc-top
                                                            p.name.font-italic Anthony M. 
                                                            img(src="./assets/images/5-star.png", alt="5 star review")
                                                        .rc-body
                                                            p.title.text-warning Coodo, ornare ullamcorpern
                                                            p.description Gravida lorem nisi ac massa. Nunc dui odio, consequat ac odio at, facilisis pulvinar urna. Cras purus turpis, tincidunt vehicula libero commodo, ornare ullamcorper metus. Ut eget neque vestibulum, tincidunt nisl nec, posuere nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                                    //- rc-item
                                                    .col-12.col-md-6.mb-3
                                                        .rc-top
                                                            p.name.font-italic Sarah James
                                                            img(src="./assets/images/5-star.png", alt="5 star review")
                                                        .rc-body
                                                            p.title.text-warning Plios odo, ornare ullamaw eaol.
                                                            p.description Curabitur lobortis magna nulla, at tristique urna convallis ut. Vivamus iaculis metus non arcu viverra bibendum. Vestibulum efficitur, ex a vestibulum congue, eros nisi blandit dui,                                                    

                                .bottom-orange-text-container
                                    p
                                        span View all reviews
   
                                     


        .jumbotron.zebra-bg-01.m-0.pt-5#trade-services.rounded-0
            .trace-services-top
                .container
                    .row
                        .col.w-100.zebra-bg-01.m-0
                            .d-block.py-5
                                p.mb-0.font-roboto-slab.text-center
                                    span.h4.text-center.text-grey-02.underline Trade Services
                                                            
                                .box-grey-custom-01
                                    .ts-container.d-flex.flex-wrap.justify-content-center
                                        .ts-item.rounded-0.border.border-secondary.checked
                                            p Air Conditioning/Heating
                                        .ts-item.rounded-0.border.border-secondary
                                            p Appliance New/Repairs
                                        .ts-item.rounded-0.border.border-secondary.checked
                                            p Asbestos Inspection
                                        .ts-item.rounded-0.border.border-secondary.checked
                                            p Asbestos Management
                                        .ts-item.rounded-0.border.border-secondary
                                            p Architecture
                                        .ts-item.rounded-0.border.border-secondary
                                            p Balustrudes
                                        .ts-item.rounded-0.border.border-secondary
                                            p Ashphalt Concreting
                                        .ts-item.rounded-0.border.border-secondary
                                            p Balustrades
                                        .ts-item.rounded-0.border.border-secondary
                                            p Bath Resurfacing
                                        .ts-item.rounded-0.border.border-secondary
                                            p Bathroom Renovations
                                        .ts-item.rounded-0.border.border-secondary
                                            p Bin Cleaning
                                        .ts-item.rounded-0.border.border-secondary.checked
                                            p Carpet Repair
                                        .ts-item.rounded-0.border.border-secondary
                                            p Blinds, Curtains, Awnings
                                        .ts-item.rounded-0.border.border-secondary
                                            p Bricklaying
                                        .ts-item.rounded-0.border.border-secondary
                                            p Building
                                        .ts-item.rounded-0.border.border-secondary
                                            p Building Consultancy or Certification
                                        .ts-item.rounded-0.border.border-secondary
                                            p Cabinets
                                        .ts-item.rounded-0.border.border-secondary.checked
                                            p Cabling - Phone/Data/TV                                                                                      


                                .bottom-orange-text-container
                                    p
                                        span View all services     


        section#contact-us
            .contact-us-top
                .container
                    .row
                        .col.text-center.py-4.text-grey-02
                            h2.h1.py-4.font-weight-bold.font-roboto-slab Contact us
                            p.font-arial-mt PHONE: 0413 666 888
                            p.font-arial-mt ADDRESS: 987 The Entrance Road, Erina, NSW 2250 
                            p.font-arial-mt ABN: 37 123 870 260

        .jumbotron.bg-dark-brown#service-area.rounded-0.m-0
            .contact-us-top
                .container
                    .row
                        .col.text-center.py-4.text-light
                            h2.h1.py-4.font-weight-bold.font-roboto-slab Our Service Areas
                            p Postcode: 2250  
                            p.font-weight-light.small Avoca Beach, Bensville, Bouddi, Copacabana, Davistown, Green Point, Kincumber, Kincumber South, Macmasters Beach, Picketts Valley, Saratoga, Yattalunga, Erina Heights, Forresters Beach, North Avoca, Terrigal, Wamberal, Bucketty, Calga, Central Mangrove, East Gosford, Erina, Erina Fair, Glenworth Valley, Gosford, Greengrove, Holgate ...
                            p + EXPAND SERVICE AREAS                        
