// Flex
.flex-1 {
	flex: 1 1 0;
}

// Text transform
.tt-l {
    text-transform: lowercase;
}
.tt-u {
    text-transform: uppercase;
}
.tt-c {
    text-transform: capitalize;
}

// Font family
.ff-oswald {
    font-family: 'Oswald', 'Arial', sans-serif;
}
.ff-roboto {
    font-family: 'Roboto', 'Arial', sans-serif;
}
.ff-lato {
    font-family: 'Lato', 'Arial', sans-serif;
}