footer.services-areas
  .container
    .narrow-content
      h2.tt-c.ff-oswald.text-center.mb-4 Our services areas
      p.postcode.mb-1 Postcode: 2250
      p.address Avoca Beach, Bensville, Bouddi, Copacabana, Davistown, Green Point, Kincumber, Kincumber South, Macmasters Beach, Picketts Valley, Saratoga, Yattalunga, Erina Heights, Forresters Beach, North Avoca, Terrigal, Wamberal, Bucketty, Calga, Central Mangrove, East Gosford, Erina, Erina Fair, Glenworth Valley, Gosford, Greengrove, Holgate ...
      p.expand.m-0 + Expand Service Areas
